 body {
     background-color: lightcyan;
 }

 .Header {
     padding-top: 1%;
     padding-left: 10%;
     padding-right: 10%;

 }


 /* Index.php */

 .content_index {
     padding-top: 1%;

 }

 .LoginBorder {
     margin: 15% auto 0 auto;
     width: 50%;
     background-color: dimgrey;
     text-shadow: 100px;

 }



 .LabelLogin {
     color: rgb(42, 220, 226);
     text-shadow: 4px 3px 1px black;
 }

 /* admin home */


 .ContentHome_M {
     margin-top: 4%;
     margin-left: 20%;
     margin-right: 20%;
     padding-bottom: 2%;
     background-color: white;
 }

 /* admin item */

 .Contentitem_M {
     margin-top: 4%;
     margin-left: 20%;
     margin-right: 20%;
     padding-bottom: 2%;
     background-color: white;
 }

 /* admin Staff */
 .ContentStaff_M {
     margin-top: 4%;
     margin-left: 20%;
     margin-right: 20%;
     padding-bottom: 2%;
     background-color: white;
 }

 .results tr[visible='false'],
 .no-result {
     display: none;
 }

 .results tr[visible='true'] {
     display: table-row;
 }

 .counter {
     padding: 8px;
     color: #ccc;
 }

 /* admin edit item */

 .ContentEdit {
     margin-top: 4%;
     margin-left: 20%;
     margin-right: 20%;
     padding-bottom: 2%;
     background-color: white;
 }

 .ContentEdit_staff {
     margin-top: 4%;
     margin-left: 20%;
     margin-right: 20%;
     padding-bottom: 2%;
     background-color: white;
 }

 /* admin Tambah Staff */
 .ContentTambah_Staff {
     margin-top: 4%;
     margin-left: 20%;
     margin-right: 20%;
     padding-bottom: 2%;
     background-color: white;
 }

 p[done] {
     color: green;
 }

 p[OnProgress] {
     color: red;

 }