 body {
     background-color: lightcyan;
 }

 .Header {
     padding-top: 1%;
     padding-left: 10%;
     padding-right: 10%;

 }


 /* Index.php */

 .content_index {
     padding-top: 1%;

 }

 .LoginBorder {
     margin: 15% auto 0 auto;
     width: 50%;
     background-color: dimgrey;
     text-shadow: 100px;

 }

 .LabelLogin {
     color: steelblue;
     text-shadow: 4px 3px 1px black;
 }

 /* admin home */


 .ContentHome_M{
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 2%;
    background-color: white;
 }

 /* admin item */

 .Contentitem_M{
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 2%;
    background-color:white;
 }
/* admin edit item */

.ContentEdit{
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 2%;
    background-color:white;
 }